body {
  background: rgb(85, 85, 85);
}

.App {
  max-width: 700px;
  height: 1000px;
  margin: auto;
  background: white;
  padding: 10px;
}

.img{
   padding: 0px 200px;
  height: 200px;
}

.btn{
   margin: 20px 300px;
   
}

